.moreSection {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  margin-top: 15px;
}

.moreText {
  font-family: "Lobster";
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-right: 2rem;
}

@media (max-width: 1000px) {
  .moreText {
    font-size: 1.2rem;
  }
}
