.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .italyFont {
    color: #0c0c0c;
      font-family: "Lobster";
      position: relative;
      font-weight: 400;
      font-size: 3rem;
  }
  
  .aboutTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .aboutText {
    color: #6c6c6c;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
  }