
.contactTitle {
  margin-top: 4rem;
    font-family: "Lobster";
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.cartHeader{
  color: rgb(124, 124, 124);
}

.totalSection {
  padding: 2rem;
}
.cartTotal{
  border: 3px solid grey;
  border-radius: 10px;
  width: 100%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-family: "Lobster";
    font-weight: bold;
    font-size: 2rem;
}

.noticeText {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.1rem;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.totalTitle {
    margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .contactTitle {
    padding-left: 5%;
  }
}
@media (max-width: 600px) {
  .main {
    padding: 2rem 1rem;
  }
}
@media (max-width: 450px) {
  .totalSection {
    padding: 1rem;
  }
}