.carouselSection {
    background-image: url('/testimonial-bg.png');
    background-size: cover;
    min-height: 900px;
    padding: 3rem;
    padding-left: 0rem;
    background-origin: padding-box;
    
  }

.carouselParentSection {
  padding-left: 5rem;
}
  


.carouselTitle {
    font-family: "SnellBT", sans-serif;
    position: relative;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
}

.carousel{
}

.imgBox {
  position: absolute;
  left: -100px;
  background-color: white;
  width: 155px;
  height: 161px;
  z-index: 1;
}